<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "ar.com.phantom.vendor"
	versionCode="1"
	version   = "1.0">
    <name>VENDOR Attack!</name>
    <description>The Vendor Attack</description>
<author href="" email="matiasditatah@gmail.com">
Matias Ditata
</author>
    <gap:platform name="android" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="disallowOverscroll" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="prerendered-icon" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackgroundColor" value="0xffffffff "/>
    <preference name="KeepRunning" value="true"/>
        
   

</widget>