<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "ar.com.phantom.vendor"
	versionCode="1"
	version   = "1.0">
    <name>VENDOR Attack!</name>
    <description>The Vendor Attack</description>
<author href="" email="matiasditatah@gmail.com">
Matias Ditata
</author>
</widget>